<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>너 참 잘찍는다</title>
    <script>
        function uploadImg() {




        }
    </script>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="http://localhost:5000/photoImg" id="uploadImg">
    <div class="button"></div>
    <input type="file" id="chooseFile" name="image" accept="image/*">
    <input type="submit" onclick="uploadImg()">
</form>
</body>
</html>